In [ ]:
Understanding the variables in python

In [ ]:
X = 5
Y = 3

In [3]:
print(X+Y)

NameError: name 'X' is not defined

In [4]:
print(X+Y)

NameError: name 'X' is not defined

In [ ]:
Rules for declaring variables: 3 rules to be followed

In [ ]:
rule 1: no name space while declaring the variable name

In [5]:
first_name = "akshra"
print(first_name)

akshra

In [6]:
firstname = 'akshra'
print(firstname)

akshra

In [ ]:
rule 2: a variable name should not start with number

In [7]:
1name = 'akshra'---> #not valid

SyntaxError: invalid syntax (<ipython-input-7-b6fb0dba2900>, line 1)

In [8]:
name1 = 'akshra'
print(name1)

akshra

In [ ]:
Rule 3:variable name should not containing special characters
    $ # @ *

In [9]:
rule 4:#rule 4 ----> comment

SyntaxError: invalid syntax (<ipython-input-9-d8b882752fa1>, line 1)

In [ ]:
Classification of data types

In [ ]:
mutable datatypes: we can able to modify data has been assigned

In [ ]:
2. Immutable datatypes: we can not able to modify data has been assigned

In [ ]:
* Indroduction to data types in python:
    1.srting---- str
    2.integer----int
    3.lidt-----list
    4.tuple----tuple
    5.dictionaries-----dict

In [ ]:
* Indroduction to string data types:
    defination of string:string is nothing but a series of characters declared in between quotes

In [ ]:
Classification of string: a string is classified as an immutable datatypes

In [ ]:
strings declred by three types:
    1.single quotes
    2.double quotes
    3.triple quotes

In [10]:
name1 = 'rutuja'
print(name1)

rutuja

In [11]:
name2 = "rutuja"
print(name2)

rutuja

In [12]:
name3 = """rutuja"""
print(name3)

rutuja

In [ ]:
*buildin methods of string:

In [13]:
type(name1) #type method

str

In [14]:
type(name2)

str

In [15]:
type(name3)

str

In [16]:
full_name = 'suteja koli'
print(full_name)

suteja koli

In [17]:
print(full_name.title()) #title()---->paranthesis

Suteja Koli

In [18]:
print(full_name.upper()) #req to get name in capital letters

SUTEJA KOLI

In [19]:
print(full_name.lower()) # req to all letters in small letters

suteja koli