In [1]:
#introduction to slicing:

In [3]:
students = ['swati','ananth','sakshi','vikram','sibin','manasa','nadeem','kiran']
print(students)

['swati', 'ananth', 'sakshi', 'vikram', 'sibin', 'manasa', 'nadeem', 'kiran']

In [4]:
#req:to slice the two person in each group

In [6]:
#general syntax......

In [8]:
variable[startvalue:stopvalue:stepcount]
#Always remember last value is exclusive....!

In [10]:
print(students[0:1])

['swati']

In [12]:
print(students[0:2])

['swati', 'ananth']

In [13]:
print(students[2:4])

['sakshi', 'vikram']

In [14]:
print(students[4:6])

['sibin', 'manasa']

In [15]:
print(students[6:8])

['nadeem', 'kiran']

In [16]:
print(students)

['swati', 'ananth', 'sakshi', 'vikram', 'sibin', 'manasa', 'nadeem', 'kiran']

In [ ]:
#i want to include all alternate students in my list

In [18]:
print(students[0:7:2])

['swati', 'sakshi', 'sibin', 'nadeem']

In [19]:
#implmentation of range method

In [ ]:
req:i want to print number from 1 to 30 as a list:

In [20]:
x = list(range(1,30))#list value is always exclusive...!
print(x)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]

In [ ]:
req:print even number from 1 to 25 by using list and range method

In [ ]:
# even number...
#range method...range(startvalue,stopvalue,stepcount)

In [23]:
even_number = list(range(2,25,2))
print(even_number)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24]

In [24]:
even_number = list(range(2,100,2))
print(even_number)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

In [25]:
#req: print odd number from 1 to 25 as a list

In [28]:
odd_number = list(range(3,25,2))
print(odd_number)

[3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23]

In [29]:
odd_number = list(range(3,100,2))
print(odd_number)

[3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]